/dist
/tmp
/coverage

/node_modules
npm-debug.log
yarn-error.log

.yarn/*
!.yarn/patches
.pnp.*

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.history/*
.claude/

.DS_Store
Thumbs.db

.env
.env.*
!.env.example
